
.container {
  @apply lg:p-5 rounded-lg bg-[#182237] flex items-center justify-between text-[#b7bac1];
}

.title {
  @apply text-[#b7bac1] font-bold capitalize lg:block hidden;
}

.menu {
  @apply flex items-center lg:gap-5 gap-3;
}

.search {
  @apply flex items-center lg:gap-3 bg-[#2e374a] lg:p-3 p-2 rounded-lg w-2/3 lg:w-full;
}

.input {
  @apply bg-transparent p-0 border-none outline-none text-white;
}

.icons {
  @apply flex lg:gap-5 gap-2;
}
