@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
  .wrapper{
    @apply max-w-7xl mx-auto w-full px-3 lg:px-0
  }
  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }

  .error{
    @apply text-sm text-red-500 mt-5
  }
}

input:focus{
  @apply focus:ring-0
}



/* Map Styles */
.leaflet-bottom,
.leaflet-control,
.leaflet-pane,
.leaflet-top{
  z-index: 0 !important;
}

/* 
input {
  all: unset;
} */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: all 5000s ease-in-out 0s;
}

/* input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
} */